/* You can add global styles to this file, and also import other style files */

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper-1 {
    max-width: 75rem;
    margin: 0 auto;
}

button.btn,
a.btn {
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    padding: 8px 13px;
    background-color: #2e2c2f;
    border-radius: 4px;
    color: #f6c95b;
    border: 1px solid #521b52b0;
    box-shadow: 1px 1px 3px 0px #757373;
}

button.btn {
    margin: 20px;
}

button.btn:hover,
a.btn:hover {
    background-color: #757475;
    color: #ffde8e;
}

div.notify {
    min-height: 35px;
}

span.error {
    color: red;
}


/* Loading styles */

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.loading-img {
    width: 75px;
    height: 75px;
    background: transparent;
}

.loading-img img {
    width: 100%;
}

.section-title {
    color: #887507;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px #030307;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* MatSnackBar */

.green-snackbar {
    /* background: rgb(65, 252, 134); */
    background-color: rgb(19, 173, 76);
    color: white;
}

.green-snackbar button {
    background-color: rgb(19, 173, 76);
    color: white;
    border: none;
}

.mat-snack-bar-container {
    margin-top: 40% !important;
}

.mat-simple-snackbar {
    justify-content: center !important;
}

.red-snackbar {
    background: #F44336;
    color: white;
}

.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}