/* You can add global styles to this file, and also import other style files */

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
html {
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper-1 {
    max-width: 75rem;
    margin: 0 auto;
}

button.btn,
a.btn {
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    padding: 8px 13px;
    background-color: #2e2c2f;
    border-radius: 4px;
    color: #f6c95b;
    border: 1px solid #521b52b0;
    box-shadow: 1px 1px 3px 0px #757373;
}

button.btn {
    margin: 20px;
}

button.btn:hover,
a.btn:hover {
    background-color: #757475;
    color: #ffde8e;
}

div.notify {
    min-height: 35px;
}

span.error {
    color: red;
}