<div class="auth-container">
    <h1 class="section-title">Register page</h1>
    <form #form="ngForm" class="form-container" id="register-form" (ngSubmit)="registerSubmit(form)">
        <!-- <div class="form-group">
            <label htmlFor="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" value={this.state.email}/>
        </div> -->
        <div class="form-group">
            <label class="form-label" htmlFor="username">Username</label>
            <input type="username" class="form-control" placeholder="Username" name="username" #username="ngModel" ngModel required [minlength]='5'>
            <div class='notify'>
                <div *ngIf="username.touched">
                    <span *ngIf="username.errors?.required" class="error">Username is required</span>
                    <span *ngIf="username.errors?.minlength" class="error">Username must be at least 5</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" htmlFor="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" ngModel required [minlength]='7'>
            <div class='notify'>
                <div *ngIf="password.touched">
                    <span *ngIf="password.errors?.required" class="error">Password is required</span>
                    <span *ngIf="password.errors?.minlength" class="error">Password must be at least 7</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" htmlFor="repeatPassword">Repeat Password</label>
            <input type="password" class="form-control" placeholder="Repeat-Password" name="rePassword" otherValue="password" #rePassword="ngModel" ngModel appPassMatch required [minlength]='7'>
            <div class='notify'>
                <div *ngIf="rePassword.touched && password.touched">
                    <span *ngIf="rePassword.errors?.required" class="error">Repeat Password is required</span>
                    <span *ngIf="rePassword.errors?.minlength" class="error">Repeat Password must be at least 7</span>
                </div>
                <div *ngIf="rePassword.touched && password.touched">
                    <span *ngIf="rePassword.errors?.passMissmatch" class="error">Both password must match</span>
                </div>
            </div>
        </div>
        <app-notificate [notificate]="notificate"></app-notificate>

        <!--For demonstrating BE error handling-->
        <button [disabled]="rePassword.errors?.passMissmatch" class="btn">Register</button>

        <!--ALL SECURED - real life scenario-->
        <!-- <button [disabled]="form.invalid || rePassword.errors?.passMissmatch" class="btn">Register</button> -->

        <div class="auth-links">
            Already have an account?
            <a routerLink="/auth/login">
                <p class="nav-a">Login now</p>
            </a>
        </div>
    </form>
</div>