<div class="picword-wrapper">
    <ng-template [ngIf]="pW" [ngIfElse]="loading">
        <div class="picword">
            <h1 class="profile-title">PicWord Details</h1>
            <div class="picword-img">
                <img [src]="pW.pictureUrl" alt="food-pic">
            </div>
            <h5 class="picword-name">{{pW.word}}</h5>
            <h3 class="pw-info-title">Created - <span>{{pW?.createdAt}}</span></h3>
            <div class="buttons">
                <button [routerLink]="['/pw/picword/', pW._id, 'Edit']" class="pw-edit btn">Edit</button>
                <button [routerLink]="['/pw/picword/', pW._id, 'Delete']" class="pw-delete btn">Delete</button>
            </div>
        </div>
    </ng-template>
    <ng-template #loading>
        <div class="picword">
            <h1 class="profile-title">PicWord Details</h1>
            <div class="loading">
                <h1>Loading...</h1>
            </div>
        </div>
    </ng-template>
</div>