.profile-content {
    padding: 1rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 45rem;
}

.profile-content .profile-header {
    float: left;
    width: 100%;
}

.profile-content .profile-data {
    height: 21rem;
    font-size: 3rem;
}

.profile-content .profile-title {
    font-size: 3rem;
    text-transform: capitalize;
}

.profile-content .profile-logo-title {
    font-size: 1rem;
    margin: 0;
}


/* 
.profile-content .profile-animation {
    float: left;
    height: 21rem;
    margin-left: 5rem;
    margin-top: 3rem;
} */

.profile-content .profile-logo {
    /* float: left; */
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    /* margin-left: 5rem; */
    /* margin-top: 3rem; */
}

.profile-content .btn {
    text-transform: capitalize;
    margin: 20px;
}

.profile-content .profile-results .profile-results {
    /* width: 70rem; */
    text-align: center;
    padding: 1rem 7rem;
}

.profile-page-buttons {
    display: flex;
    justify-content: space-between;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 50px;
    margin: 0;
}


/* Variant 1 */


/* .next-btn {
    position: absolute;
    right: 0;
    top: 50px;
    margin: 0;
} */

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.loading-img {
    width: 75px;
    height: 75px;
    background: transparent;
}

.loading-img img {
    width: 100%;
}


/* 
.profile-content .profile-pws-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 65rem;
} */


/* Results table styles */

table {
    position: center;
    min-width: 650px;
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    /* display: table; */
    /* border-collapse: separate; */
    /* box-sizing: border-box; */
    text-indent: initial;
    /* border-spacing: 2px; */
    border-color: gray;
    margin: 70px auto;
}

th {
    color: #fff;
    background-color: #81c784;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    /* text-align: left; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* font-weight: 400;
    line-height: 1.43; */
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.04);
}

tbody tr {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

tbody tr td {
    font-size: 14px;
    text-align: center;
    flex-direction: row-reverse;
    display: table-cell;
    padding: 16px;
    /* font-size: 0.875rem; */
    /* text-align: left; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

thead tr {
    border-radius: 4px;
}

tr:last-child {
    border-radius: 4px;
}

tfoot {
    color: #fff;
    font-size: 17px;
    background-color: #ff4081;
    text-align: center;
    flex-direction: row-reverse;
    line-height: 1.3125rem;
}