.profile-content {
    padding: 1rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 45rem;
}

.profile-content .profile-header {
    float: left;
    width: 100%;
}

.profile-content .profile-data {
    height: 21rem;
    font-size: 3rem;
}

.profile-content .profile-title {
    font-size: 3rem;
    text-transform: capitalize;
}

.profile-content .profile-logo-title {
    font-size: 1rem;
    margin: 0;
}


/* 
.profile-content .profile-animation {
    float: left;
    height: 21rem;
    margin-left: 5rem;
    margin-top: 3rem;
} */

.profile-content .profile-logo {
    /* float: left; */
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    /* margin-left: 5rem; */
    /* margin-top: 3rem; */
}

.profile-content .btn {
    text-transform: capitalize;
    margin: 20px;
}

.profile-content .profile-results .profile-results {
    /* width: 70rem; */
    text-align: center;
    padding: 1rem 7rem;
}

.profile-page-buttons {
    display: flex;
    justify-content: space-between;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 50px;
    margin: 0;
}


/* Variant 1 */


/* .next-btn {
    position: absolute;
    right: 0;
    top: 50px;
    margin: 0;
} */

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.loading-img {
    width: 75px;
    height: 75px;
    background: transparent;
}

.loading-img img {
    width: 100%;
}


/* 
.profile-content .profile-pws-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 65rem;
} */