<div class="profile-content">
    <div class="profile-header">
        <!-- <Image cloudName="softquizy" class="profile-animation" publicId='profile-page-logo' /> -->
        <div class="profile-data">
            <h1 class="profile-title">{{userName}}'s Page</h1>
            <img class="profile-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHgwL4r2DN1qg91OOqIViiv0Uxw-9yqo-PiQ&usqp=CAU" alt="profile-logo">
            <h6 class="profile-logo-title">Profile picture is comming up...</h6>
        </div>
    </div>
    <div class="profile-page-buttons">
        PROFILE RESULTS BUTTON
        <button class="button">isAuth's Results</button> PROFILE QUESTIONS BUTTON
        <button class="button">isAuth's Questions</button>
    </div>

    <!-- <div class="profile-results">
            <Switch>
                <Route path={`${match.url}/results`} component={ProfileResults} />
                <Route path={`${match.url}/profile-questions`} component={ProfileQuestions} />
            </Switch>
        </div> -->
</div>