:host {
    margin: 50px auto;
}


/* .pw-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    height: fit-content;
}

.pw-list-wrapper div.picword-card {
    padding: 0 70px;
    flex-grow: 1;
} */