<div class="pw-list-wrapper">

    <div class="picword-card">
        <app-picword></app-picword>
    </div>
    <div class="picword-card">
        <app-picword></app-picword>
    </div>
    <div class="picword-card">
        <app-picword></app-picword>
    </div>
    <div class="picword-card">
        <app-picword></app-picword>
    </div>
    <div class="picword-card">
        <app-picword></app-picword>
    </div>
    <div class="picword-card">
        <app-picword></app-picword>
    </div>
</div>