<div class="profile-content">
    <!-- <a href="/auth/profile" class="btn back-btn">Back to Profile Page</a> -->

    <!--Variant 1-->
    <!-- <a (click)="moreSubmit()" class="btn next-btn">Show more</a> -->

    <h1 class="section-title">{{userName}}'s PicWords</h1>
    <div *ngIf="loading && currentPWs.length==0" class="loading">
        <div class="loading-img">
            <img src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="loading gif">
        </div>
        <h3>Loading....</h3>
    </div>
    <app-picword *ngIf="currentPWs.length > 0" [picWords]="currentPWs" [flag]="'profile'"></app-picword>

    <!--Variant 2-->
    <a *ngIf="profilePWs.length != 0" (click)="moreSubmit()" class="btn next-btn">Show more</a>
</div>