.picword-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    min-height: 33rem;
    height: fit-content;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    /* width: 65rem; */
}

.picword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    flex-grow: 1;
    flex-shrink: 1;
}

.picword-img {
    margin: 0;
    width: 250px;
    height: 250px;
}

.picword-wrapper .flag img {
    cursor: pointer;
}

.picword-img img {
    box-shadow: 2px 3px 10px 0px #afaaaa;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picword-name {
    font-size: 2rem;
    margin: 0;
    /* color: #075d07; */
    color: green;
    text-shadow: 1px 1px 3px #1315b8;
    /* background: #59dec6; */
    width: max-content;
    border-radius: 5px;
    padding: 5px 12px;
    text-transform: capitalize;
    border: none;
}

.btn {
    border: none;
    margin: 10px;
    padding: 10px;
    background: none;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.picword-home {
    width: 65rem;
}

div.loading div.picword-img {
    background-color: transparent;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    box-shadow: none;
    border: none;
}

div.loading div.picword-img img {
    box-shadow: none;
    border: none;
    width: 100%;
}

.picword-wrapper div.loading button.btn {
    background: transparent;
    color: #040404;
    border: none;
    box-shadow: none;
    letter-spacing: 7px;
    padding-left: 50px;
    text-shadow: none;
    font-style: italic;
}