<div class="welcome-text-wrapper">
    <h3 class="welcome-text-heading">Welcome!</h3>
    <p class="welcome-text-content">You just found the best and funny way to learn new English words. The main purpose of this application is to evolve your English words knowledge using your visual memory as well. Once you register you will be able to create your own "PicWords" and
        use them as a reference when you forget some word and its meaning. You can also search through all of the "PicWords" created from the rest of the registered users. Release your imagination and have a lot of Fun with PicDict Application!
    </p>
</div>
<app-picword [home]="true" [picWords]="pws"></app-picword>
<div *ngIf="!isLogged">
    <p class="auth-links">Already a member? - <a routerLink="auth/login">Login</a></p>
    <p class="auth-links">Don't have an account? - <a routerLink="auth/register">Register</a></p>
</div>