:host {
    display: block;
    background-color: #1976d2;
    padding: 10px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-nav-items {
    list-style: none;
    display: flex;
}

.header-nav-items li a {
    padding-right: 1rem;
    text-decoration: none;
}

.header-logo img {
    border-radius: 50%;
    max-width: 5rem;
}