<div class="wrapper-1 header-wrap">
    <div class="header-logo">
        <img src="https://st4.depositphotos.com/16030310/25210/v/380/depositphotos_252105466-stock-illustration-vector-illustration-silver-golden-letters.jpg" alt="logo-img">
    </div>
    <nav class="header-nav">
        <ul class="header-nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/find-word">Find a Word</a></li>
            <li><a href="/create-pde">Create PD Element</a></li>
            <li><a href="/auth/profile">Profile Page</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/about">About PD</a></li>
        </ul>
    </nav>
</div>