<div class="create-question-content">
    <div class="create-question-header">
        <img class="create-question-logo" />
    </div>
    <form class="create-question-form">
        <h1 class="create-question-title">Edit the PicWord</h1>

        <!-- <div class="form-group"> -->
        <label for="category">Select Category: </label>
        <select name="category" class="form-control">
            <option value="any">Any Category</option>
            <option value="6">Math</option>
            <option value="7">Geography</option>
            <option value="8">History</option>
        </select>
        <!-- <Notificate maxWidth2={true} type="error">{fields.errors.category || < br />}</Notificate> -->

        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!-- <label for="difficulty">Select Difficulty: </label>
        <select name="difficulty" class="form-control">
            <option value="any">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select> -->
        <!-- <Notificate maxWidth2={true} type="error">{fields.errors.difficulty || < br />}</Notificate> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <label for="correct_answer">Write the word: </label>
        <input type="text" class="form-control text" placeholder="Car" name="word">
        <!-- <Notificate maxWidth={true} type="error">{fields.errors.correct_answer || < br />}</Notificate> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <label>Choose the picture: 
            <div  class="button">
                <span>Select File</span>
                <input type="file" name="pic">
            </div>
        </label>
        <!-- <Notificate maxWidth={true} type="error">{fields.errors.question ||<br/>}</Notificate> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!-- <label for="incorrect_answer">Write the wrong answers: </label> -->
        <!-- {fields.incorrect_answers.map((wa, i) => -->
        <!-- <div key={i} > -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!-- <textarea type="text" class="form-control incorrect-answer" placeholder="Some wrong answer" name="incorrect_answer"></textarea> -->

        <!-- {i > 0
                    ? <button class="remove-btn" onClick={(e) => removeClick(e, fields, i)} >
                        <RemoveCircleIcon />
                    </button>
                    : <button class="remove-btn" onClick={(e) => {
                        e.preventDefault();
                        console.log('You must give at least one wrong answer')
                    }} >
                        <VpnKeyIcon />
                    </button>
                } -->
        <!-- <Notificate maxWidth={true} type="error">{fields.errors[`incorrect_answer_${i}`] || < br />}</Notificate> -->
        <!-- </div> -->
        <!-- )} -->
        <div class="buttons">
            <!-- <button class="btn">AddIcon</button> -->
            <button class="button" type="submit">Edit</button>
        </div>
    </form>
</div>