:host {
    margin: 50px auto;
}

.choose-external-content {
    text-align: center;
}

.choose-external-header {
    float: left;
    width: 15rem;
}

.choose-external-content label {
    width: 300px;
    font-weight: bold;
}

.choose-external-content input {
    margin: 5px 0;
    width: 300px;
}

.choose-external-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 1rem;
    max-height: 120px;
}

.choose-external-form .form-control {
    width: 300px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 10px 0 0 0;
}

.found-count {
    margin: 0;
}