@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
:host {
    display: block;
    /* background-color: #1976d2; */
    background-color: #cccdcb;
    padding: 10px 0;
    position: relative;
    box-shadow: 0px 1px 10px 1px #656363;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    max-width: 100%;
}

.header-nav-items {
    list-style: none;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 2rem;
    font-family: 'MonteCarlo', cursive;
    max-width: 9rem;
    line-height: 1;
    /* font-weight: 600; */
    letter-spacing: 2px;
}

.header-logo img {
    border-radius: 50%;
    max-width: 5rem;
    cursor: pointer;
}

.header-nav-items li a.active-link {
    /* color: #5cf1d5; */
    color: #2e2c2f;
    background-color: #f6c95b;
    /* font-weight: bold; */
}


/* Dropdown styles */

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
}

.dropdown-content a {
    text-decoration: none;
    display: inline-block;
    margin: 30px 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}