@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
:host {
    display: block;
    /* background-color: #1976d2; */
    background-color: #cccdcb;
    padding: 10px 0;
    position: relative;
    box-shadow: 0px 1px 10px 1px #656363;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    max-width: 100%;
}

.header-nav-items {
    list-style: none;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 2rem;
    font-family: 'MonteCarlo', cursive;
    max-width: 9rem;
    line-height: 1;
    /* font-weight: 600; */
    letter-spacing: 2px;
}

.header-logo img {
    border-radius: 50%;
    max-width: 5rem;
    cursor: pointer;
}

.header-nav-items li a.active-link {
    /* color: #5cf1d5; */
    color: #2e2c2f;
    background-color: #f6c95b;
    /* font-weight: bold; */
}


/* dropdown */


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} */


/* 
li {
    float: left;
} */


/* 
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */


/* li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
} */


/* 
li.dropdown a.btn {
    display: inline-block;
} */

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 3;
}

.dropdown-content a {
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: inline-block;
    /* text-align: left; */
    margin: 30px 10px 0;
}


/* .dropdown-content a:hover {
    background-color: #f1f1f1;
} */

.dropdown:hover .dropdown-content {
    display: block;
}