<div class="pw-list-wrapper">
    <!-- <div class="picword-card" *ngFor="let picWord of picWords"> -->
    <i (click)="showPrev()" class="fas fa-less-than"></i>
    <i (click)="showNext()" class="fas fa-greater-than"></i>
    <!-- <a (click)="showPrev()" class="btn prev-btn">Previous</a> -->
    <!-- <a (click)="showNext()" class="btn next-btn">Next</a> -->
    <div class="buttons">
        <button class="btn" (click)="toggleView(1)">Show 1 PW</button>
        <button class="btn" (click)="toggleView(3)">Show 3 PW</button>
        <button class="btn" (click)="toggleView(6)">Show 6 PW</button>
    </div>
    <div *ngIf="currentPWs" class="picwords">
        <app-picword [picWords]="currentPWs "></app-picword>
    </div>
    <div *ngIf="!currentPWs " class="loading">
        <!-- <h1>No Data Found!</h1> -->
        <img src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="loading gif">
        <h1>Loading...</h1>
    </div>
    <!-- </div> -->
</div>