<div class="welcome-text-wrapper">
    <h3 class="welcome-text-heading">About this application!</h3>
    <p class="welcome-text-content">This application is created from Zoran Rumenov Yankov as a project for Softuni Angular's Module Final Exam. The project is driven from the everyone's need to learn fast new English words in easy and funny way. Everyone is free to join, test and give
        feedback at zoroboy@abv.bg - I will be very happy to fix the bugs and extend the functionality of this application.</p>
</div>