<div class="create-question-content">
    <div class="create-question-header">
        <img class="create-question-logo" />
    </div>
    <form #form="ngForm" class="create-question-form" (ngSubmit)="onCreateSubmit(form)">
        <h1 class="create-question-title">Create new PicWord</h1>
        <label>
            Write the word: 
            <input disabled="{{action == 'Delete'}}" type="text" class="form-control text" placeholder="Car" name="word" [ngModel]="pexelWord.word">
        </label>
        <label for="correct_answer">
            Choose the picture: 
            <input disabled="{{action == 'Delete'}}" type="url" class="form-control url" placeholder="https://..." name="picture" [ngModel]="pexelWord.pictureUrl">
        </label>
        <app-notificate [notificate]="notificate"></app-notificate>
        <div class="buttons">
            <button class="{{buttonClass}}" type="submit">{{buttonName}}</button>
        </div>
        <p class="pexels">You can search for picture with PEXELS.COM
        </p>
        <a class="small btn" routerLink="/pw/find-picword">Search with PicWord</a>

    </form>
</div>