.create-question-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-question-content label {
    padding: 10px;
    width: 300px;
    font-weight: bold;
}

.create-question-content input {
    margin: 5px 0;
    width: 300px;
}

.create-question-content .btn {
    padding: 5px 30px;
    font-size: 20px;
    margin: 10px 0 100px 0;
}

.button input {
    display: none;
}

.pexels {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.create-question-content a.small {
    margin: 0;
    padding: 7px 10px;
    font-size: 20px;
}

.buttons .pw-Edit {
    background-color: #005c0c;
    color: #f6c95b;
    border: 1px solid #521b52b0;
}

.buttons .pw-Delete {
    background-color: #a51e1e;
    color: #f6c95b;
    border: 1px solid #521b52b0;
}

.buttons .pw-Delete:hover {
    background-color: #ff4040;
    color: #000000;
}

.buttons .pw-Edit:hover {
    background-color: #2d9c3c;
    color: #000000;
}