<div class="create-question-content">
    <div class="create-question-header">
        <img class="create-question-logo" />
    </div>
    <form #form="ngForm" class="create-question-form" (ngSubmit)="onCreateSubmit(form)">
        <h1 class="create-question-title">Create new PicWord</h1>
        <label>
            Write the word: 
            <input disabled="{{action == 'Delete'}}"
            type="text"
            class="form-control text"
            placeholder="Car"
            name="word"
            #word="ngModel"
            [ngModel]="pexelWord.word"
            required [minlength]="2">
        </label>
        <div class='notify'>
            <div *ngIf="word.touched">
                <span *ngIf="word.errors?.required" class="error">Word is required</span>
                <span *ngIf="word.errors?.minlength" class="error">Word must be at least 2 charachters long</span>
            </div>
        </div>
        <label for="correct_answer">
            Choose the picture: 
            <input disabled="{{action == 'Delete'}}"
            type="url"
            class="form-control url"
            placeholder="https://..."
            name="picture"
            #picture="ngModel"
            [ngModel]="pexelWord.pictureUrl"
            required  pattern="(www|http:|https:)+//[^\s]+[\w]">
        </label>
        <div class='notify'>
            <div *ngIf="picture.touched">
                <span *ngIf="picture.errors?.required" class="error">Picture is required</span>
                <span *ngIf="picture.errors?.pattern" class="error">Not a Valid URL</span>
            </div>
        </div>
        <app-notificate [notificate]="notificate"></app-notificate>
        <div class="buttons">
            <button [disabled]="picture.errors && picture.errors.pattern" class="{{buttonClass}}" type="submit">{{buttonName}}</button>
        </div>
        <p class="pexels">You can search for picture with PEXELS.COM
        </p>
        <a class="small btn" routerLink="/pw/find-picword">Search with PicWord</a>

    </form>
</div>